.banner-container {
    position:relative;
}
.banner-container .banner-item {
    position:absolute;
    left:0;
    top:0;
    display:block;
    width:100%;
    height:auto;
    opacity:0;
    z-index:1;
    transition:all 1s ease-in;
}
.banner-container .banner-item.in {
    opacity:1;
    z-index:2;
}
.banner-container .banner-item.out {
    z-index:1;
    opacity:0;
}
.banner-container .carousel-nav {
    position:absolute;
    z-index:3;
    width:100px;
    text-align:center;
}
.banner-container .carousel-nav.left {
    top:175px;
    left:100px;
}
.banner-container .carousel-nav.right {
    top:175px;
    right:100px;
}
.banner-container .carousel-nav.bottom {
    width:auto;
    height:15px;
    padding:0;
    margin:0;
    bottom:30px;
    left:50%;
    list-style:none;
}
.banner-container .carousel-nav.bottom>li {
    float:left;
    width:15px;
    height:15px;
    margin-right:20px;
    background-color:#fff;
    cursor:pointer;
}
.banner-container .carousel-nav.bottom>li.active {
    background-color:deepskyblue;
}

