<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../lib/html5shiv.min.js"></script>
    <![endif]-->
    <script src="../../lib/es5-shim.min.js"></script>
    <script src="../../lib/es5-sham.min.js"></script>


</head>
<body style="background-color: #f1f1f1">
<div id="appContainer">

</div>
<script src="../../fixedLoan.bundle.js"></script>
</body>
</html>
