.tab-container {
    width:100%;
    margin:0 auto;
}
ul.tab-header-container {
    margin:0 0 10px;
    padding:0;
    border-bottom:1px solid #ccc;
    list-style:none;
}
ul.tab-header-container li {
    float:left;
    margin-right:50px;
    padding:7px 0;
    font-size:18px;
    color:#333;
    cursor:pointer;
}
ul.tab-header-container li.active {
    border-bottom:2px solid #c37e17;
}
.tab-panel-container>div {
    display:none;
    width:100%;
    height:500px;
}
.tab-panel-container>div.active {
    display:block;
}