.investmentList-bar-left {
  width:192px;
}
.investmentList-bar-right {
  width:1008px;
}
.investmentList-bar-right table {
  width:100%;
}
.investmentList-bar-right table th {
  line-height: 50px;
  font-size: 14px;
  color: #999;
}