.investmentList-bar-left {
  width:192px;
}
.investmentList-bar-right {
  width:1008px;
}
.investmentList-bar-right table {
  width:100%;
}
.investmentList-bar-right table th {
  line-height: 50px;
  font-size: 14px;
  color: #999;
  text-align:center;
  background-color:#f4e8d5;
}
.investmentList-bar-right table td {
  height: 68px;
  line-height: 68px;
  font-size: 14px;
  color: #333;
  text-align:center;
}
.investmentList-bar-right tbody>tr:nth-child(2n) {
  background-color:#FCFAF8;
}
.investmentList-bar-right tbody>tr:nth-child(2n+1) {
  background-color:#fff;
}
.investmentList-bar-right tbody>tr:hover {
  background-color:#f7f5f3;
}
.investmentList-bar-right td.investment-yearRate {
  position: relative;
  color: #c37e18;
  font-size: 24px;
}

