ul.investmentList {
  width:530px;
  padding:0;
  margin:50px auto;
  list-style:none;
}
ul.investmentList li {
    margin-bottom:20px;
}
ul.investmentList li>span + span {
  margin-left:30px;
}
ul.investmentList li button {
  margin-left:20px;
}